<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
		
		<title>Social Timeline</title>
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<link rel="stylesheet" href="css/fontello/css/fontello-embedded.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
	</head>
	<body class="reset">
		<div id="app">
			<div class="container">
				<header>
					<div class="wrap">
						<div class="search">
							<i class="icon-search"></i>
							<input type="search" placeholder="Search" v-model="searchWord" />
						</div>
						<div class="profile">
							<div class="profile-img">
								<figure><img src="member.jpg" alt="member" /></figure>
							</div>
							<h1>Sul Lee</h1>
							<span>Web publisher</span>
						</div>
						<nav>
							<ul>
								<li class="active"><a href="/"><i class="icon-home"></i><span>Feed</span></a></li>
								<li><a href="/"><i class="icon-chart"></i><span>Activity</span></a></li>
								<li><a href="/"><i class="icon-mail"></i><span>Message</span></a></li>
								<li><a href="/"><i class="icon-picture"></i><span>Gallery</span></a></li>
							</ul>
							<ul>
								<li><a href="/"><i class="icon-setting"></i><span>Settings</span></a></li>
								<li><a href="/"><i class="icon-user"></i><span>Log out</span></a></li>
							</ul>
						</nav>
					</div>
				</header>
				<!-- header -->
				<main>
					<section id="timeline">
						<div class="post-container">
							<div class="write-box">
								<div class="input-group">
									<textarea placeholder="Write something!"
									v-model="newPost"
									v-on:keyup.enter="createPost(newPost)"></textarea>
								</div>
								<div class="submit-group">
									<button class="btn" type="button" v-on:click="createPost(newPost)">Post</button>
									<div v-if="postLoading">
										<div id="postLoading-box"></div>
									</div>
								</div>
							</div>
							<!-- write-box -->
							
							<div v-for="(item, index) in postBox" class="post-box" :class="{blur: index === blurPost}">
								<div class="post-wrap">
									<div class="profile-img">
										<figure><img src="member.png" alt="member" /></figure>
									</div>
									<div class="post-group">
										<span class="name">{{ item.title }}</span>
										<p class="body" v-html="highlight(item.body)">{{ item.body }}</p>
									</div>
									<div class="btn-group">
										<button type="button" 
										v-on:click="toggleMenu(index, item)">&middot;&middot;&middot;</button>
										<ul class="dropdown-menu" 
										v-if="item.active" :class="{hide: index === blurPost}">
											<li><button type="button" class="btn" v-on:click="deletePost(item.id,index)">delete</button></li>
								        </ul>
									</div>
								</div>
							</div>
							<!-- post-box -->
						</div>
						<!-- post-container -->
					
						<div class="loader" v-if="isLoading">
							<div id="loading-box"></div>
						</div>
					</section>
					<!-- timeline -->
					<section id="side">
						<div class="side-container">
							<aside class="popular">
								<div class="popular-img"></div>
								<div class="description">
									<span>Popular</span>
									<h2>Lorem ipsum dolor sit amet</h2>
									<p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</aside>
							<aside class="people">
								<h2>Suggested people</h2>
								<ul>
									<li v-for="person in people">
										<div class="profile-img">
											<figure><img src="people.jpg" alt="people" /></figure>
										</div>
										<div class="info">
											<p>{{ person.name }}</p>
											<span>{{ person.job }}</span>
										</div>
									</li>
								</ul>
							</aside>
						</div>
					</section>
				</main>
				<!-- main -->
			</div>
			<!-- container -->
		</div>
		<!-- app -->
		
		<script src="./data.js"></script>
		<script>
			var myName = 'Sul Lee';
			
			new Vue({
				el: "#app",
				data: {
					searchWord: '',
					endOfTheScreen: false,
					isLoading: false,
					page: 1,
					limit: 10,
					post: timelineData,
					//postBox: timelineData,
					//postBox: [],
					autoLoading: true,
					newPost: '',
					people: [
						{
							name: 'Susana Mendis',
							job: 'Photographer',
						},
						{
							name: 'Neel Litoriya',
							job: 'Fashion Designer',
						},
						{
							name: 'Barbara Doe',
							job: 'Model',
						},
					],
					blurPost: false,
					postLoading: false,
				},
				
				//  watch: 감시자 역할, 지정한 대산의 값이 변경될 때마다 정의한 함수가 실행.
				watch: {
					endOfTheScreen(endOfTheScreen) {
						if (endOfTheScreen === true && this.autoLoading) {
							this.page += 1;
							this.loadPosts(this.page, this.limit);
						}
					}
				},
				
				//  created: 데이터 초기화에 대한 목적.
				created() {
					window.onscroll = () => {
						this.endOfTheScreen = this.scrollCheck();
					};
					//this.loadPosts();
				},
				
				methods: {
				    toggleMenu(index, item) {
						this.postBox.forEach(function(el, idx) {
							if ( index === idx ) return;
							el.active = false
						});
						
				        if ( item.active === true ) {
					        item.active = false;
				        } else if (item.active === false) {
							item.active = true;
					    }
				    },
					createPost(newPost) {
						if (newPost != '') {
							this.postLoading = true;
														
							axios.defaults.headers.post['Content-Type'] = 'application/json';
							axios.post('https://jsonplaceholder.typicode.com/posts',{
								title: myName, body: this.newPost, active: false
							}).then((res) => {
								this.postBox.unshift(res.data);
								
								this.postLoading = false;
							})
							this.newPost = '';
						}
					},
					deletePost(id, index) {
						this.blurPost = index;
						
						axios.delete('https://jsonplaceholder.typicode.com/posts/' + id)
						.then((res) => {
							this.postBox.splice(index, 1);
							
							this.blurPost =! index;
						})
					},
					scrollCheck() {
						return window.scrollY + window.innerHeight === document.documentElement.offsetHeight;
					},
					loadPosts(page = this.page, limit = this.limit) {
						this.isLoading = true;
						const self = this;
						setTimeout(function() {
							axios.get('https://jsonplaceholder.typicode.com/posts' + "?_page=" + page + "&_limit=" + limit)
							.then((res) => {
								for (let i in res.data) {
									self.postBox.push(res.data[i]);
								}
								self.isLoading = false;
							});
						}, 500);
					},
					highlight(text) {
						return text.replace(new RegExp( this.searchWord, 'gi'), '<span class="highlighted">$&</span>' );
					}
				},
				
				computed: {
					postBox() {
						if ( this.searchWord ) {
							return this.post.filter( item => {
								return item.body.toLowerCase().includes( this.searchWord.toLowerCase() );
							})
						} else {
							return this.post;
						}
					}
				},
				
				mounted() {
					$('body').removeClass('reset');
				},
			})
		</script>
	</body>
</html>