@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

*::selection {
  background: #FFAE1E;
  color: #fff;
}

body {
  font-family: "Roboto", "NanumSquareRound", sans-serif;
  font-size: 1.2rem;
  color: #222;
  background-color: rgba(216, 217, 225, 0.3);
}
@media (max-width: 920px) {
  body {
    font-size: 1rem;
  }
}

.alttxt {
  position: absolute;
  left: -9999999px;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button, textarea {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-family: "Roboto", "NanumSquareRound", sans-serif;
  font-size: 1.2rem;
}
@media (max-width: 920px) {
  input, button, textarea {
    font-size: 1rem;
  }
}

button {
  cursor: pointer;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  background-color: #FFAE1E;
  color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 5px 5px 30px -15px rgba(0, 0, 0, 0.3);
}

#loading-box {
  width: 2rem;
  height: 2rem;
  background-color: #FFAE1E;
  animation: loading 1s infinite linear;
  margin: 0 auto;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    border-radius: 100%;
  }
  50% {
    transform: rotate(90deg);
    border-radius: 0;
  }
  100% {
    transform: rotate(180deg);
    border-radius: 100%;
  }
}
.container {
  position: relative;
  margin: 0 auto;
}

header {
  width: 20%;
  height: 100%;
  padding: 3rem;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 5px 5px 30px -15px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1200px) {
  header {
    padding: 2rem;
  }
}
@media (max-width: 920px) {
  header {
    display: none;
  }
}
header i {
  font-size: 1.6rem;
  margin-right: 1rem;
}
header i::before {
  vertical-align: middle;
}
header ul {
  margin-top: 5rem;
}
header li {
  margin-top: 2rem;
  font-weight: 600;
}
header li.active a, header li a:hover {
  color: #FFAE1E;
  transition: 0.1s ease-in-out all;
}
header .wrap > * {
  margin-bottom: 5rem;
}
header .search {
  display: flex;
  color: #D8D9E1;
}
header .search i {
  font-family: "Roboto", "NanumSquareRound", sans-serif;
  font-size: 1.2rem;
}
@media (max-width: 920px) {
  header .search i {
    font-size: 1rem;
  }
}
header .search input::placeholder {
  color: rgba(216, 217, 225, 0.3);
  font-weight: 600;
}
header .profile .profile-img {
  margin-right: 1rem;
  margin-bottom: 2rem;
}
header .profile .profile-img figure {
  box-shadow: 5px 5px 30px -15px rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
@media (max-width: 920px) {
  header .profile .profile-img figure {
    width: 60px;
    height: 60px;
  }
}
header .profile .profile-img figure img {
  width: 100%;
}
header .profile h1 {
  font-weight: 600;
  margin-bottom: 1rem;
}
header .profile span {
  color: #D8D9E1;
}

main {
  width: 60%;
  margin-left: 20%;
}
@media (max-width: 1200px) {
  main {
    width: 80%;
  }
}
@media (max-width: 920px) {
  main {
    width: 100%;
    margin-left: 0;
  }
}

#timeline {
  padding: 1.5rem;
}
#timeline .post-container {
  background-color: #fff;
  box-shadow: 5px 5px 30px -15px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
}

.write-box {
  padding: 2rem;
  background-color: rgba(255, 174, 30, 0.3);
}
.write-box .profile-img {
  margin-right: 1rem;
}
.write-box .profile-img figure {
  box-shadow: 5px 5px 30px -15px rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
@media (max-width: 920px) {
  .write-box .profile-img figure {
    width: 60px;
    height: 60px;
  }
}
.write-box .profile-img figure img {
  width: 100%;
}
.write-box .input-group {
  width: 100%;
}
.write-box .input-group textarea {
  resize: none;
  height: 8rem;
  width: inherit;
}
.write-box .input-group textarea::placeholder {
  color: #fff;
}
.post-box {
  padding: 2rem;
  transition: 0.1s ease-in-out all;
  border-bottom: 1px solid rgba(216, 217, 225, 0.3);
}
.post-box .post-wrap {
  display: flex;
  transition: 0.1s ease-in-out all;
}
.post-box .post-wrap .profile-img {
  margin-right: 1rem;
}
.post-box .post-wrap .profile-img figure {
  box-shadow: 5px 5px 30px -15px rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
@media (max-width: 920px) {
  .post-box .post-wrap .profile-img figure {
    width: 60px;
    height: 60px;
  }
}
.post-box .post-wrap .profile-img figure img {
  width: 100%;
}
.post-box .post-wrap .post-group {
  width: 100%;
}
.post-box .post-wrap .post-group .name {
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
}
.post-box .post-wrap .post-group .body {
  line-height: 1.4;
}
.post-box .post-wrap .btn-group {
  position: relative;
  margin-left: 1rem;
}
.post-box .post-wrap .btn-group > button {
  line-height: 1;
}
.post-box .post-wrap .btn-group > button:hover {
  color: #FFAE1E;
}
.post-box .post-wrap .btn-group .dropdown-menu {
  position: absolute;
  right: 0;
}

.loader {
  padding: 2rem 0;
}

#side {
  width: 20%;
  padding-left: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  overflow: scroll;
}
#side .side-container {
  padding: 1.5rem;
  padding-left: 0;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 100%;
}
@media (max-width: 1200px) {
  #side {
    display: none;
  }
}

aside {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 5px 5px 30px -15px rgba(0, 0, 0, 0.3);
}

.popular .popular-img {
  height: 240px;
  background-image: url("../popular.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.popular .description {
  padding: 1.5rem;
}
.popular .description span {
  color: #FFAE1E;
  font-size: 1rem;
  font-weight: 600;
}
.popular .description h2 {
  margin: 1rem 0;
  font-weight: 600;
}
.popular .description p {
  font-size: 1rem;
  line-height: 1.4;
  color: #D8D9E1;
}

.people {
  padding: 1.5rem;
}
.people .profile-img {
  margin-right: 1rem;
}
.people .profile-img figure {
  box-shadow: 5px 5px 30px -15px rgba(0, 0, 0, 0.3);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
@media (max-width: 920px) {
  .people .profile-img figure {
    width: 60px;
    height: 60px;
  }
}
.people .profile-img figure img {
  width: 100%;
}
.people li {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.people li .info {
  width: 100%;
}
.people h2 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.people p {
  font-size: 1rem;
  color: #FFAE1E;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.people span {
  color: #D8D9E1;
  font-size: 0.8rem;
}

/*# sourceMappingURL=index.css.map */
