<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
		
		<title>Axios Vue.js</title>
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<section class="container">
				<h1><span>Axios</span> To do List</h1>
				<div class="group">
					<div class="input-group">
						<input type="text" placeholder="텍스트 입력 후 엔터키를 눌러보세요."
						v-model="newTodo"
						v-on:keyup.enter="createTodo(newTodo)" />
						<button class="btn" type="button"
						v-on:click="createTodo(newTodo)">Enter</button>
					</div>
					<div class="list-group">
						<ul class="lists">
							<li v-for="(todo,index) in todos" :class="{blur: index === blur}">
								<div>
									<span>{{ index + 1 }}</span>
									<p>
										{{ todo.title }}</p>
									<button type="button" class="btn" v-on:click="deleteTodo(todo.id,index)">&times;</button>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					todos: [],
					newTodo: '',
					activeMenu: '',
					blur: false,
				},
				methods: {
					deleteTodo(id, index) {
						this.blur = index;
						
						axios.delete('https://jsonplaceholder.typicode.com/posts/' + id)
						.then((res) => {
							this.todos.splice(index, 1);
							
							this.blur =! index;
						})
					},
					createTodo(newTodo) {
						if (newTodo != '') {
							axios.defaults.headers.post['Content-Type'] = 'application/json';
							axios.post('https://jsonplaceholder.typicode.com/posts',{
								title: this.newTodo
							}).then((res) => {
								this.todos.unshift(res.data);
							})
							this.newTodo = '';
						} else {
							return false;
						}
					},
					getTodo() {
						axios.get('https://jsonplaceholder.typicode.com/posts')
						.then((res) => {
							this.todos = res.data;
						})
					}
				},
				mounted: function () {
					this.getTodo();
				}
			})
		</script>
	</body>
</html>