<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
		
		<title>Axios Vue.js</title>
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<section class="container">
				<h1><span>Axios</span> To do List</h1>
				<div class="group">
					<div class="input-group">
						<input type="text" placeholder="Write down a list of things to do."
						v-model="newTodo"
						v-on:keyup.enter="createTodo(newTodo)" />
						<button class="btn" type="button"
						v-on:click="createTodo(newTodo)">Enter</button>
					</div>
					<div class="list-group">
						<ul class="lists">
							<li v-for="(todo,index) in todos">
								<span>{{ index }}</span>
								<p><span>{{ todo.id }}</span> {{ todo.title }}</p>
								<div class="btn-group">
									<button type="button" class="btn" v-on:click="deleteTodo(id,index)">&times;</button>
								</div>
<!--
								<div class="btn-group">
									<button type="button" class="btn" v-on:click="clickMenu(index)">&middot;&middot;&middot;</button>
									<ul class="dropdown-menu" :class="{active: index == activeMenu}">
										<li><button type="button" class="btn" v-on:click="deleteTodo(todo.id,index)">delete</button></li>
							        </ul>
								</div>
-->
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					todos: [],
					newTodo: '',
					activeMenu: null,
				},
				methods: {
/*
					clickMenu(i) {
				        this.activeMenu = i;
				        // toggle 안됨. addClass일 때, 클릭하면 removeClass 시켜야 함 (?)
				    },
*/
					deleteTodo(id,index) {
						axios.delete('https://jsonplaceholder.typicode.com/posts/' + id)
						.then((res) => {
							this.todos.splice(index, 1);
						})
					},
					createTodo(newTodo) {
						if (newTodo != null) {
							axios.defaults.headers.post['Content-Type'] = 'application/json';
							axios.post('https://jsonplaceholder.typicode.com/posts',{
								title: this.newTodo
							}).then((res) => {
								this.todos.unshift(res.data);
							})
							this.newTodo = null;
						}
					},
					getTodo() {
						axios.get('https://jsonplaceholder.typicode.com/posts')
						.then((res) => {
							this.todos = res.data;
							
							// 데이터 역순
// 							this.todos.reverse();
						})
					}
				},
				mounted: function () {
					this.getTodo();
				}
				
			})
		</script>
	</body>
</html>