<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no" />
		
		<title>Axios Vue.js</title>
		
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<section class="container">
				<h1><span>Axios</span> To do List</h1>
				<div class="group">
					<div class="input-group">
						<input type="text" placeholder="Write down a list of things to do."
						v-model="newTodo"
						v-on:keyup.enter="createTodo()" />
						<button class="btn" type="button"
						v-on:click="createTodo()">Enter</button>
					</div>
					<div class="list-group">
						<ul class="lists">
							<li v-for="(todo,index) in todos">
								<span>{{todo.id}}</span>
								<p>{{todo.title}}</p>
								<div class="btn-group">
									<button type="button" class="btn" v-on:click="toggleMenu(index)">&middot;&middot;&middot;</button>
									<ul class="dropdown-menu" :class="{active: index === activeMenu}">
										<li><button type="button" class="btn" v-on:click="deleteTodo(todo.id,index)">delete</button></li>
							        </ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		
		<script>
			var app = new Vue({
				el: "#app",
				data: {
					todos: [],
					newTodo: '',
					activeMenu: false,
				},
				methods: {
					toggleMenu(i) {
				        this.activeMenu = i;
				    },
					deleteTodo(id,index) {
						axios.delete('https://jsonplaceholder.typicode.com/posts/'+id)
						.then((res) => {
							this.todos.splice(index, 1);
						})
					},
					createTodo() {
						// keyup enter 했을 때 한글로 적으면 2번 입력됨 (왜지!)
						axios.defaults.headers.post['Content-Type'] = 'application/json';
						axios.post('https://jsonplaceholder.typicode.com/posts',{
							title:this.newTodo
						}).then((res) => {
							this.todos.push(res.data);
							this.newTodo='';
							this.todos.sort((a,b) => b.id - a.id);
						})
					},
					getTodo() {
						axios.get('https://jsonplaceholder.typicode.com/posts')
						.then((res) => {
							this.todos = res.data;
							this.todos.sort((a,b) => b.id - a.id);
						})
					}
				},
				mounted: function () {
					this.getTodo();
				}
			})
		</script>
	</body>
</html>